#!/bin/sh

#If already set (e.g. in github actions); use that instead
if [ -z "$GITHUB_TOKEN" ]; then
  GITHUB_TOKEN="$(nix run nixpkgs#gh auth token)" || {
    nix run nixpkgs#gh auth login --insecure-storage || exit
    GITHUB_TOKEN="$(nix run nixpkgs#gh auth token)" || exit
  }
  export GITHUB_TOKEN
fi

NIX_CONFIG="access-tokens = github.com=$GITHUB_TOKEN"
export NIX_CONFIG
